<body>

    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Contact</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Map Section Begin -->
    <div class="map spad">
        <div class="container">
            <div class="contact-title">
                        <h4 class="text-center" style="text-bold">¡Nuestras oficinas estan a tu disposicion!</h4>
                    </div>
            <div class="map-inner">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.603055286968!2d-58.445030185053604!3d-34.563604462883234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5c859508de1%3A0x1ec8553f2c589f17!2sAv.%20Luis%20Mar%C3%ADa%20Campos%201400%2C%20C1426BOZ%20CABA!5e0!3m2!1ses-419!2sar!4v1595353397292!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
               </iframe>
            </div>
        </div>
    </div>
    <!-- Map Section Begin -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-title">
                        <h4>Contactanos</h4>
                        <p>Nuestro personal esta disponible para tus consultas, acercate a nuestras tiendas fisicas para una atencion personalizada.</p>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="ci-text">
                                <span>Direccion:</span>
                                <p>Av. Luis Maria Campos 1400, CABA. Argentina</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="ci-text">
                                <span>Telefono:</span>
                                <p>+54 11 1234 5647</p>
                            </div>
                        </div>
                        <div class="cw-item">
                            <div class="ci-icon">
                                <i class="ti-email"></i>
                            </div>
                            <div class="ci-text">
                                <span>Email:</span>
                                <p>ifit_argentina@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="contact-form">
                        <div class="leave-comment">
                            <h4>Dejanos tu comentario</h4>
                            <p>Nuestro equipo respondera tu consulta a la brevedad.</p>
                            <form action="/contact" method="POST" class="comment-form">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input type="text" placeholder="Ingresa tu nombre" id="name" name="nombre">
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" required placeholder="Ingresa tu email" id="email" name="email">
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea placeholder="Ingresa tu mensaje" id="mensaje" name="mensaje"></textarea>
                                        <button type="submit" class="site-btn btn-block">Enviar</button>
                                    </div>
                                </div>
                                <h5 class="text-success text-center">{{message}}</h5>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
