<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- Google Font -->
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>Categorias</span>
                        <ul class="depart-hover">
                            <li class="active"><a href="#">Todos los productos</a></li>
                            <li><a href="#">Ropa de entranamiento</a></li>
                            <li><a href="#">Shakers</a></li>
                            <li><a href="#">Whey Protein</a></li>
                            <li><a href="#">Aminoacidos</a></li>
                            <li><a href="#">Otros Suplementos</a></li>
                            <li><a href="#">Mancuernas y accesorios</a></li>
                            <li><a href="#" class="inactive">Dietas Proximamente</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="./">Home</a></li>
                        <li><a href="./productos">Shop</a></li>
                        <li><a href="#">Carrito</a></li>
                        <li><a href="./blog.html">Login</a></li>
                        <li><a href="./contact">Registro</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
        <div class="container">
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="./">
                                <img src="/img/logofit1.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</head>

  <body>
    
    {{{body}}}
    <!-- Js Plugins -->
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <script src="/javascripts/jquery.nice-select.min.js"></script>
    <script src="/javascripts/jquery.zoom.min.js"></script>
    <script src="/javascripts/jquery.dd.min.js"></script>
    <script src="/javascripts/jquery.slicknav.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="https://kit.fontawesome.com/66dc82111e.js" crossorigin="anonymous"></script>
  </body>
  <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="/img/logo1.png" alt=""></a>
                        </div>        
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.5817576469876!2d-58.4440854850537!3d-34.56414356291167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5c86c2dd53d%3A0x4d8c3d4d7b1422aa!2sAv.%20Luis%20Mar%C3%ADa%20Campos%201400-1302%2C%20C1426BOY%20CABA!5e0!3m2!1ses-419!2sar!4v1595116411963!5m2!1ses-419!2sar" width="350" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-2">
                    
                </div>
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                             <ul>
                            <li>Av. Luis Maria Campos 1400, CABA. Argentina</li>
                            <li>+54 11 1234 5678</li>
                            <li>ifit_argentina@gmail.com</li>
                        </ul>
                            
                        <div class="footer-social">
                            <a href="www.instagram.com"><i class="fa fa-facebook"></i></a>
                            <a href="www.facebook.com"><i class="fa fa-instagram"></i></a>
                            <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </footer>
</html>
